* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #1A0E2B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='191' height='191' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%2359167b' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23662588' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2359167b' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23662588' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23743296' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23741882' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23862c93' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23973DA4' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23862c93' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23741882' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23973DA4' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23741882' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23973DA4' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23862c93' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23973DA4' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
}

/* Navbar */
.navbar-brand img{
    margin-left: 20px;
}

.navbar-nav a{
    padding-right: 60px !important;
    font-size: 35px;
    color: white;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
}

.navbar{
    background: linear-gradient(to left, #973DA4, #60349c,#743296);
}

.dropdown-menu a{
    color: black;
}

/* End of Navbar */

/* INTRO*/
.intro{
    width: 100%;
    height: fit-content;
    color: white;
    font-family: "VT323", monospace;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    text-align: center;
}

.intro-text h1{
    font-size: 70px;
    text-shadow: 1px 1px 11px rgba(255,255,255,0.6);
    padding-bottom: 15px;
}

.intro-text p{
    margin: 0 10rem;
    font-size: 25px;
}

.intro-text {
    background-color: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    -webkit-box-shadow: 0px 0px 52px -10px rgba(17,17,17,1);
    -moz-box-shadow: 0px 0px 52px -10px rgba(17,17,17,1);
    box-shadow: 0px 0px 52px -10px rgba(17,17,17,1);
    padding: 3rem 0;
    padding: 2rem 3.8rem;
}

/* .intro-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgb(0, 9, 60, 0.5), rgb(45, 11, 0, 0.5));
    z-index: -1;
    border-radius: 5px;
} */

/* CAROUSEL */
.carousel {
	overflow: hidden;
}

.carousel img{
    height: 72vh;
    object-fit: cover;
}

.sec2{
	width: 100%;
	height: fit-content;
	padding: 2rem 3.8rem;
    background-color: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
	font-size: larger;
	text-align: justify-all;
    -webkit-box-shadow: 0px 0px 52px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 52px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 52px 0px rgba(0,0,0,1);
}

.qual2 p{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin: 0 8rem;
}

.qual2 h2{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 11px rgba(255,255,255,0.6);
    font-size: 55px;
    padding-bottom: 15px;
}
.qual2 {
	text-align: center;
    color: white;
}

.perks {
	margin-top: 4rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #f6f6f6;
	border-radius: 1rem;
	padding: 1rem;
    width: 21rem;
    margin: .5rem 0;
    -webkit-box-shadow: 0px 0px 52px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 52px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 52px 0px rgba(0,0,0,1);
    border-bottom: 5px solid #ab20fd;
}
.box h3{
    margin-top: 1rem;
}
.perks img {
	width: 6rem;
	margin: auto;
}
.box h3 {
	font-size: 20px;
}

.items{
	margin-top: 4rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 99%;
    margin: auto;
}

.card{
    width: 33rem;
    margin: .5rem .5rem;
    border-bottom: 3.5px solid #ab20fd;
    -webkit-box-shadow: 0px 0px 52px -14px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 52px -14px rgba(0,0,0,1);
    box-shadow: 0px 0px 52px -14px rgba(0,0,0,1);
}

.card img{
    height: 20rem;
    object-fit: contain;
}
.quote{
    height: 10rem;
    background-color: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    color: white;
    -webkit-box-shadow: 0px 0px 52px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 52px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 52px 0px rgba(0,0,0,1);
    padding: 2rem 3.8rem;
}

.quote h3{
    text-shadow: 1px 1px 11px rgba(255,255,255,0.6);
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 30px;
}

/* FOOTER  */
.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

footer {
    width: 100%;
    background: linear-gradient(to left, #973DA4, #60349c,#743296);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    font-family: "Chakra Petch", sans-serif;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    width: 80px;
    margin-bottom: 30px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.content-wrapper ul li {
    list-style: none;
    margin-bottom: 12px;
}

.col ul {
	padding: 0;
}

.content-wrapper ul li a {
    text-decoration: none;
    color: #fff;
}

.content-wrapper form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.content-wrapper form .fa-regular {
    font-size: 18px;
    margin-right: 10px;
}

.content-wrapper form input {
    width: 80%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.content-wrapper form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.content-wrapper form button .fa-solid {
    font-size: 16px;
    color: #ccc;
}

.social-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

.content-wrapper hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}
/* END OF FOOTER */

@media (max-width: 1200px) {
    .qual2 p, .intro-text p{
        font-size: 15px;
    }

    .qual2 h2, .intro-text h1 {
        font-size: 45px;
    }
}

@media (max-width: 750px) {
    .qual2 p, .intro-text p{
        font-size: 15px;
    }

    .qual2 h2, .intro-text h1 {
        font-size: 30px;
    }

    .intro-text p {
        margin: 0;
    }
    .qual2 {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .col {
        display: none;
    }

    .quote h3 {
        font-size: 5vw;
    }

    .qual2 p, .intro-text p{
        font-size: 3vw;
        margin: auto;
    }

    .qual2 h2, .intro-text h1 {
        font-size: 5vw;
    }
}

@media (max-width: 270px) {
    .card-text {
        font-size: 5vw;
    }

    .card-title {
        font-size: 7vw;
    }

    .btn {
        font-size: 7vw;
    }
}